<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- SpringMVC的配置文件，主要包含网站跳转逻辑的控制和配置 -->
	
	<!-- 只扫描控制器 -->
	<context:component-scan base-package="com.timeuni" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<!-- 配置视图解析器，方便页面返回 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 两个标配 -->
	<mvc:default-servlet-handler/>
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- 注册拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="com.timeuni.interceptor.SessionInterceptor"></bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**"/> 
			<mvc:exclude-mapping path="/static/**"/>
			<mvc:exclude-mapping path="/backstage/**"/>
			<mvc:exclude-mapping path="/index.jsp"/>
			<mvc:exclude-mapping path="/index"/>
			<mvc:exclude-mapping path="/login"/>
			<mvc:exclude-mapping path="/user_validation"/>
			<mvc:exclude-mapping path="/search_product"/>
			<mvc:exclude-mapping path="/products"/>
			<mvc:exclude-mapping path="/indexclass"/>
			<mvc:exclude-mapping path="/header"/>
			<mvc:exclude-mapping path="/store"/>
			<bean class="com.timeuni.interceptor.UserInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<!-- 文件上传解析器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>
	</bean>
</beans>