<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timeuni.dao.CommoditySelectPropertyMapper">
  <resultMap id="BaseResultMap" type="com.timeuni.bean.CommoditySelectProperty">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="commodity_id" jdbcType="INTEGER" property="commodityId" />
    <result column="select_property_row" jdbcType="VARCHAR" property="selectPropertyRow" />
    <result column="media_type" jdbcType="INTEGER" property="mediaType" />
    <result column="property_name" jdbcType="VARCHAR" property="propertyName" />
    <result column="property_value" jdbcType="VARCHAR" property="propertyValue" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, commodity_id, select_property_row, media_type, property_name, property_value
  </sql>
  <select id="selectByExample" parameterType="com.timeuni.bean.CommoditySelectPropertyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_commodity_select_property
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_commodity_select_property
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_commodity_select_property
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.timeuni.bean.CommoditySelectPropertyExample">
    delete from tb_commodity_select_property
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.timeuni.bean.CommoditySelectProperty">
    insert into tb_commodity_select_property (id, commodity_id, select_property_row, 
      media_type, property_name, property_value
      )
    values (#{id,jdbcType=INTEGER}, #{commodityId,jdbcType=INTEGER}, #{selectPropertyRow,jdbcType=VARCHAR}, 
      #{mediaType,jdbcType=INTEGER}, #{propertyName,jdbcType=VARCHAR}, #{propertyValue,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.timeuni.bean.CommoditySelectProperty">
    insert into tb_commodity_select_property
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="commodityId != null">
        commodity_id,
      </if>
      <if test="selectPropertyRow != null">
        select_property_row,
      </if>
      <if test="mediaType != null">
        media_type,
      </if>
      <if test="propertyName != null">
        property_name,
      </if>
      <if test="propertyValue != null">
        property_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="commodityId != null">
        #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="selectPropertyRow != null">
        #{selectPropertyRow,jdbcType=VARCHAR},
      </if>
      <if test="mediaType != null">
        #{mediaType,jdbcType=INTEGER},
      </if>
      <if test="propertyName != null">
        #{propertyName,jdbcType=VARCHAR},
      </if>
      <if test="propertyValue != null">
        #{propertyValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.timeuni.bean.CommoditySelectPropertyExample" resultType="java.lang.Long">
    select count(*) from tb_commodity_select_property
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_commodity_select_property
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.commodityId != null">
        commodity_id = #{record.commodityId,jdbcType=INTEGER},
      </if>
      <if test="record.selectPropertyRow != null">
        select_property_row = #{record.selectPropertyRow,jdbcType=VARCHAR},
      </if>
      <if test="record.mediaType != null">
        media_type = #{record.mediaType,jdbcType=INTEGER},
      </if>
      <if test="record.propertyName != null">
        property_name = #{record.propertyName,jdbcType=VARCHAR},
      </if>
      <if test="record.propertyValue != null">
        property_value = #{record.propertyValue,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_commodity_select_property
    set id = #{record.id,jdbcType=INTEGER},
      commodity_id = #{record.commodityId,jdbcType=INTEGER},
      select_property_row = #{record.selectPropertyRow,jdbcType=VARCHAR},
      media_type = #{record.mediaType,jdbcType=INTEGER},
      property_name = #{record.propertyName,jdbcType=VARCHAR},
      property_value = #{record.propertyValue,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.timeuni.bean.CommoditySelectProperty">
    update tb_commodity_select_property
    <set>
      <if test="commodityId != null">
        commodity_id = #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="selectPropertyRow != null">
        select_property_row = #{selectPropertyRow,jdbcType=VARCHAR},
      </if>
      <if test="mediaType != null">
        media_type = #{mediaType,jdbcType=INTEGER},
      </if>
      <if test="propertyName != null">
        property_name = #{propertyName,jdbcType=VARCHAR},
      </if>
      <if test="propertyValue != null">
        property_value = #{propertyValue,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.timeuni.bean.CommoditySelectProperty">
    update tb_commodity_select_property
    set commodity_id = #{commodityId,jdbcType=INTEGER},
      select_property_row = #{selectPropertyRow,jdbcType=VARCHAR},
      media_type = #{mediaType,jdbcType=INTEGER},
      property_name = #{propertyName,jdbcType=VARCHAR},
      property_value = #{propertyValue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>